- name: Install the ngnix
  yum:
    name: nginx
    state: latest

- name: Download frontend application from GIT
  get_url:
    url: https://github.com/roboshop-devops-project/frontend/archive/main.zip
    dest: /tmp/frontend.zip

- name: Remove directory /usr/share/nginx/html
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent

- name: Unzip the copied frontend package
  ansible.builtin.unarchive:
    src: /tmp/frontend.zip
    dest: /usr/share/nginx
    remote_src: yes

- name: Copy extracted files to local directory
  ansible.builtin.copy:
    src: /usr/share/nginx/frontend-main/static/
    dest: /usr/share/nginx/html/
    remote_src: yes

- name: Remove file frontend-master
  ansible.builtin.file:
    path: frontend-master
    state: absent

- name: Remove file README.md
  ansible.builtin.file:
    path: README.md
    state: absent

- name: Start the nginx service
  ansible.builtin.service:
    state: restarted
    name: nginx
    enabled: yes


