- name: Install the redis prerequisite packages & redis
  yum:
    name: "{{item}}"
    state: latest
  loop:
    - epel-release
    - yum-utils
    - http://rpms.remirepo.net/enterprise/remi-release-7.rpm
    - redis

- name: Update the Listen address from 127.0.0.1 to 0.0.0.0 in config file
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: Start Redis
  systemd:
    name: redis
    enabled: yes
    state: started