- name: Install nodejs
  include_role:
    name: common
    tasks_from: nodejs

- name: Download the package from github
  include_role:
    name: common
    tasks_from: systemd
  vars:
    APP_DIR: /tmp/user-main
    EXTRACT_DIR: /tmp
