- name: Add MongoDB repository
  yum_repository:
    name: mongodb
    description: mongo db repo
    baseurl: https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/4.2/x86_64/
    gpgcheck: yes
    gpgkey: https://www.mongodb.org/static/pgp/server-4.2.asc
    file: mongodb.repo

- name: Install the mongodb
  yum:
    name: mongodb-org
    state: installed

- name: start mongodb service
  systemd:
    name: mongod
    state: started
    enabled: yes

- name: Update the Listen address from 127.0.0.1 to 0.0.0.0 in config file
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'
  notify:
    - restart mongodb service


- name: Download the package from github
  include_role:
    name: common
    tasks_from: download-github
  vars:
    APP_DIR: /tmp/mongodb-main
    EXTRACT_DIR: /tmp


- name: Load Schema
  community.mongodb.mongodb_shell:
    file: /tmp/mongodb-main/users.js
    idempotent: yes

