- name: Install NodeJS Components
  yum:
    name:
      - nodejs
      - make
      - gcc-c++
    state: present

- name: Download Package
  include_role:
    name: common
    tasks_from: systemd
  vars:
    APP_DIR: /home/roboshop/catalogue
    EXTRACT_DIR: /tmp



