- name : Roboshop Project Setup
  hosts: FRONTEND
  become: yes
  tags:
    - frontend
  roles:
    - name: Load Frontend Role
      role: frontend

- name : Roboshop Project Setup
  hosts: MONGODB
  become: yes
  tags:
    - mongodb
  roles:
    - name: Load Mongodb Role
      role: mongodb

#    - name: Import the role mongodb
#      import_role:
#          name: mongodb
#      when: APP=="mongodb"
#      tags: mongodb
#
#    - name: Import the role catalogue
#      import_role:
#          name: catalogue
#      when: APP=="catalogue"
#      tags: catalogue
