- name : Roboshop Project Setup
  hosts: FRONTEND
  become: yes
  tags:
    - frontend
  roles:
    - name: Load Frontend Role
      role: frontend

- name : Roboshop Project Setup
  hosts: MONGODB
  become: yes
  tags:
    - mongodb
  roles:
    - name: Load Mongodb Role
      role: mongodb

- name : Roboshop Project Setup
  hosts: CATALOGUE
  become: yes
  tags:
    - catalogue
  roles:
    - name: Load Catalogue Role
      role: catalogue

- name : Roboshop Project Setup
  hosts: REDIS
  become: yes
  tags:
    - redis
  roles:
    - name: Load Redis Role
      role: redis

- name : Roboshop Project Setup
  hosts: USER
  become: yes
  tags:
    - user
  roles:
    - name: Load user Role
      role: user


